@media screen and (min-width: 768px) {
  .loginContainer {
    background-image: url('../img/giorniVespa.webp');
    background-position: 700px;
    background-size: 70%;
  }

  .logoutButtonContainer {
    gap: 1rem;
  }
}

.loginContainer {
  height: 100vh;
  justify-content: center;
  background-image: url('../img/yellowVespa.webp');
  background-position: calc(100% + 50px);
  background-repeat: no-repeat;
  background-size: calc(70% + 15px);
}

.logoutButtonContainer {
  gap: 0.5rem;
  align-items: center;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.formContainer {
  gap: 2rem;
}

.formContainer div {
  gap: 0.5rem;
}

.formContainer div input {
  padding: 0.7rem;
  opacity: 0.8;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.formContainer div textarea {
  padding: 0.7rem;
  opacity: 0.8;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  border: 2px solid black;
  resize: vertical;
}

.formContainer div textarea:focus,
select:focus {
  border-color: #97bf11;
  outline-style: dotted;
  box-shadow: 2px 2px 5px 0 #748d0f88;
}

.formContainer div input:focus,
select:focus {
  border-color: #97bf11;
  outline-style: dotted;
  box-shadow: 2px 2px 5px 0 #748d0f88;
}

select {
  padding: 0.7rem;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.loginButtons {
  gap: 8px;
  align-items: center;
}

.infoParagraph {
  background-color: rgb(207, 207, 112);
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;
  align-self: center;
  border-radius: 16px;
  font-size: 18px;
}

#loginBtn {
  background-color: #97bf11;
  color: white;
}

#logoutLi {
  cursor: pointer;
  color: black;
}

.logoutBtn {
  padding: 0.8rem;
  color: white;
  background-color: red;
}

#signUp {
  background-color: #97bf11;
  color: white;
}

#logoutLi {
  color: white;
}

.loginInfoContainer {
  width: 30%;
  align-self: flex-start;
  margin-top: -10%;
  margin-left: 4%;
}
