.mainUi {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 15fr 85fr;
    grid-template-rows: 100fr;
}

.mainContainer {
    display: grid;
    grid-template-columns: 7fr 86fr 7fr;
}

.mainBody {
    margin-top: 2rem;
    align-items: center;
}

.mainButton {
    justify-content: center;
}

.buttonContainerLeft,
.buttonContainerRight {
background-color: #97BF11;
padding: 1.5rem 2rem 1.5rem 2rem;
}

.buttonContainerLeft button,
.buttonContainerRight button{
    border: transparent;
    cursor: pointer;
    background: transparent;
    color: white;
}

.buttonContainerLeft {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -1px;
}

.buttonContainerRight {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.mainBodyHeader {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.mainBodyHeader h1 {
    font-size: 30pt;
}

.mainBodyHeader hr {
    margin-top: 1.5rem;
}
.motorcyclesContainer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

#leftIcon,
#rightIcon{
transform: scale(2.2);
}

#leftIcon{
    padding-left: 1.2rem;
}

#rightIcon{
    padding-right: 1.2rem;
}