.mainUi {
    display: grid;
    grid-template-columns: 15fr 85fr;
    height: 100vh;
}

.mainContainer {
    display: grid;
    grid-template-columns: 6fr 88fr 6fr;
    align-items: center;
}

.mainBody {
    align-items: center;
}

.mainButton {
    justify-content: center;
}

.buttonContainerLeft,
.buttonContainerRight,
.noneItemLeft,
.noneItemRight {
background-color: #97BF11;
padding: 1rem 0.4rem 1rem 0.4rem;
}

.buttonContainerLeft,
.noneItemLeft{
    justify-content: flex-end;
}

.buttonContainerRight,
.noneItemRight{
    justify-content: flex-start;
}


.noneItemLeft,
.noneItemRight{
    background-color: whitesmoke;
}

.noneItemLeft button,
.noneItemRight button {
    background-color: transparent;
}

.buttonContainerLeft button,
.buttonContainerRight button{
    border: transparent;
    cursor: pointer;
    background: transparent;
    color: white;
    transition: all 1s 2s;
}

.buttonContainerLeft,
.noneItemLeft {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.buttonContainerRight,
.noneItemRight {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.mainBodyHeader {
    margin-top: -10rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.mainBodyHeader h1 {
    font-size: 30pt;
}

.mainBodyHeader hr {
    margin-top: 0.5rem;
}

.motorcyclesContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 250px;
}

#leftIcon,
#rightIcon{
transform: scale(2.2);
}

#leftIcon{
    margin-left: 1rem;
}

#rightIcon{
    margin-right: 1rem;
}