.motorcycleItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.motorcycleItemPicture{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
}

.motorcycleItemPicture img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: 1s 0.5s ease-in-out;
}

.motorcycleItemPicture img:hover {
    transform: scale(1.1);
}

.motorcycleItemNameModel {
    margin-top: 2rem;
    justify-content: center;
    padding-bottom: 1rem;
}

.bar {
    border: 1px dashed rgba(220, 200, 200, 0.72);
    width: 60%;
    align-self: center;
}

.motorcycleItemDescription,
.motorcycleItemLinks {
    margin-top: 1rem;
}

.motorcycleForm {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 100fr;
    margin: 2rem 1rem 1rem 1rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

.buttonContainer{
    padding-top: 1.5rem;
}

.buttonContainer button,
.reservebuttonContainer button {
    background-color:#97BF11;
    color: white;
    padding: 0.8rem 2rem  0.8rem 2rem;
    border-radius: 20px;
}

.reservebuttonContainer button {
    background-color: white;
    border-radius: 20px;
    color: #97BF11;
}

.itemImagePreview {
    align-items: flex-end;
    gap: 2rem;
    padding-right: 10rem;
    margin-top: -2rem;
}
.itemImagePreviewContainer {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    height: 10rem;
    width: 14rem;
}

.itemImagePreviewContainer img {
    width: 100%;
    height: 100%;
    transition: all 1.5s 1.5s ease-in-out;
    border-radius: 8px;
}

.itemImagePreviewContainer img:hover{
    cursor: pointer;
    transform: scale(1.5);
    border-radius: 16px;
}

.addMottorcycleContainer {
    margin-top: 1rem;
}

