.titleContainer {
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -1rem;
}

.titleContainer img {
  width: 100%;
  height: 100%;
  transform: scale(0.7);
  cursor: pointer;
}

li {
  list-style-type: none;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid black 1px;
}

.navList {
  margin-top: 2rem;
  gap: 2rem;
  text-transform: uppercase;
}

.navList li {
  display: flex;

  margin-left: 1rem;
}

.navigation.hidden {
  transform: translateX(-100%);
}

.navContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15fr 70fr 15fr;
  border-right: 2px solid rgba(207, 196, 196, 0.431);
  opacity: 0.8;
  transition: all 1s 0.5s ease-in-out;
}

.navBody {
  margin-top: 1rem;
  gap: 8rem;
}

.navList li a {
  color: black;
  width: 100%;
}

.navContainer .navList .active {
  background-color: #97BF11;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  padding-left: 1.5rem;
}

.footerNav {
  margin-top: 2rem;
  justify-content: center;
  padding: 0.5rem;
  /* background-color: red; */
}

.footerNav ul {
  gap: 15px;
  justify-content: center;
  padding-bottom: 0.5rem;
}

footer ul li {
  cursor: pointer;
}

.copy {
  margin-top: 1rem;
  text-align: center;
}
