.app {
  display: grid;
  grid-template-rows: inherit;
  grid-template-columns: auto;
}

.flexV{
  display: flex;
  flex-direction: column;
}

.flexH{
  display: flex;
}

.logoutContainer {
  align-items: center;
  justify-content: center;
}

.error {
  color:white ;
  background-color: red;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  align-self: self-start;
  border-radius: 16px;
}

.success {
  color: #97BF11;
}

.infoContainer{
  margin-top: 1rem;
  flex-wrap: wrap;
}

#infoLogin{
  margin-top: 1rem;
text-align: center;
}

.appContainer {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 15fr 85fr;
  grid-template-rows: 100fr;
}

.mainContainer {
height: 100vh;
}
