.app {
  display: grid;
  grid-template-rows: inherit;
  grid-template-columns: auto;
}

.flexV{
  display: flex;
  flex-direction: column;
}

.flexH{
  display: flex;
}

.logoutContainer {
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
}

.success {
  color: #97BF11;
}

.infoContainer{
  margin-top: 2rem;
}

#infoLogin{
  margin-top: 1rem;
text-align: center;
}

.appContainer {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 15fr 85fr;
  grid-template-rows: 100fr;
}
