*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
}

.hiddenScroll{
  overflow: hidden;
}

button {
  border: transparent;
  cursor: pointer;
  padding: 0.6rem;
  padding: 0.8rem 1.5rem  0.8rem 1.5rem;
  border-radius: 16px;
}